.App {
  padding-top:71px;
  position: relative;
  color:#fff;
}
.App-wrapper{
  position: fixed;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: auto;
}

h2{
  padding-top: 100px;
  color:#FFF;
}
button{
  margin-top: 15px;
}